<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,33}}</string>
                <key>sourceSize</key>
                <string>{300,33}</string>
            </dict>
            <key>grass_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{297,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,31}}</string>
                <key>sourceSize</key>
                <string>{297,31}</string>
            </dict>
            <key>grass_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{300,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,25}}</string>
                <key>sourceSize</key>
                <string>{300,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grass_sprites.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6671b8306b6631c4da798cf5d8d2c861:ed366bf86a02d6e51e39e0b956d57f04:4035e008bd5ddf151e13a6fd0b1b7b39$</string>
            <key>textureFileName</key>
            <string>grass_sprites.png</string>
        </dict>
    </dict>
</plist>
