<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,374},{93,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,118}}</string>
                <key>sourceSize</key>
                <string>{93,118}</string>
            </dict>
            <key>sprite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,126},{105,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,122}}</string>
                <key>sourceSize</key>
                <string>{105,122}</string>
            </dict>
            <key>sprite_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{105,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,130}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>sprite_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{105,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,130}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>sprite_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{105,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,130}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>sprite_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,130}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>sprite_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,250},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>sprite_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{105,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,122}}</string>
                <key>sourceSize</key>
                <string>{105,122}</string>
            </dict>
            <key>sprite_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{105,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,122}}</string>
                <key>sourceSize</key>
                <string>{105,122}</string>
            </dict>
            <key>sprite_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{105,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,122}}</string>
                <key>sourceSize</key>
                <string>{105,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sarah.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38a4ec295d685ba4679b0c3f624da3f1:e7cdf5d896ed638e01acb145e6eecef7:249796fa2a4b8aa2e48a4df857248072$</string>
            <key>textureFileName</key>
            <string>sprite_sarah.png</string>
        </dict>
    </dict>
</plist>
